# 8. Loops in Python


 * __A for loop is used for iterating over a sequence (either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the for loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment, i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__
 
 
# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop thorough a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default), and ends at a specified number.__

In [2]:
print(range(10))
print(range(10,100))

range(0, 10)
range(10, 100)

# for loop

 __The for loop enables you to execute a code block multiple times.__

In [3]:
years=[2005,2006,2007,2008,2009,2010,2011,2012,2013]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010
2011
2012
2013

In [4]:
for year in years:
    print(year)

2005
2006
2007
2008
2009
2010
2011
2012
2013

In [10]:
language=['Java','Python','C','C++','PHP','Django','Laravel']

for i in range(len(language)):
    print(i,language[i])

0 Java
1 Python
2 C
3 C++
4 PHP
5 Django
6 Laravel

In [12]:
number1=int(input('Enter any  numbmber:\n'))

for i in range(1,11):
    print('%dX%d=%d'%(number1,i,number1*i))

Enter any  numbmber:
19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [14]:
# find the total of the list and average of the list
nlis=[0.577,2.718,3.14,1.618,1729,6,37]
count=0
for i in nlis:
    count+=i
print('The total sum of the list is:',count)
print('The toal average of the list is:',count/len(nlis))

The total sum of the list is: 1780.053
The toal average of the list is: 254.29328571428573

In [ ]:
# find the max,min, total ,average,median
nlis1=[100.23,456,744,741,789,951,453,852,753,746,854,856,985]

In [2]:
#find  max,min, total, average, median.
lis1=[100.23,456,744,741,789,951,453,852,753,746,854,856,985]
sum=0

print('Maximum value is: ',max(lis1))
print('Minimum value is: ',min(lis1))

for i in lis1:
    sum+=i
print("Total:",sum)
print("Average:",sum/len(lis1))


m=len(lis1)//2
print('Median: ',lis1[m])

Maximum value is:  985
Minimum value is:  100.23
Total: 9280.23
Average: 713.8638461538461
Median:  453

In [3]:
#find the max, min, total, average, median of nlis
nlis=[100.23,456,744,741,789,951,453,852,753,746,854,856,985]
print("Maximum of nlis:",max(nlis))
print("Minimum of nlis:",min(nlis))

s=0
for i in nlis:
    s+=i
    
print("Total of nlis:",s)
print("Average of nlis:",s/len(nlis))
med=len(nlis)/2
print("Median of nlis:",nlis[int(med)])

Maximum of nlis: 985
Minimum of nlis: 100.23
Total of nlis: 9280.23
Average of nlis: 713.8638461538461
Median of nlis: 453

# continue in for loop

In [5]:
nlis1=[1,2,3,4,5,6,7,8,9,10,11,12,13]

for i in nlis1:
    if i==10:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13

# break in for loop

In [6]:
nlis1=[1,2,3,4,5,6,7,8,9,10,11,12,13]

for i in nlis1:
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

# While loop

 __The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed unitll the given logical condition returns a False boolean value.__

In [10]:
# Take an example

i = 22

while i<50:
    print(i)
    i+=1

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [12]:
# Take another example

i = 22

while i>=-17:
    print(i)
    i-=1

22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17

# Continue in while loop

In [16]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i==3:
        continue

0
1
2
3
4
5

# Break in while loop

In [15]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i==3:
        break

0
1
2

In [17]:
# Write table using while loop
x1=int(input('Enter a number:'))
i=1
while i<=10:
    print(x1,'X',i,'=',x1*i)
    i+=1

Enter a number:19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [18]:
a=int(input("Enter a number:"))
i=1
while i<11:
    print(a,'x',i,'=',a*i)
    i+=1

Enter a number:19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [21]:
num1=int(input('Enter any number\n'))
i=1

while i<=10:
    print('%d X %d = %d'%(num1,i,num1*i))
    i+=1

Enter any number
19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

# while-else statement

In [25]:
index=0

while index<=10:
    print(index,end=',')
    index+=1
else:
    print('It gives us the number between 0 to 10')

0,1,2,3,4,5,6,7,8,9,10,It gives us the number between 0 to 10

In [26]:
#1. Write a program to print even number 0 to 50 with for loop.
#2. Write a program to calculate the sum of all number from 1 to 10.
s=0
for i in range(1,11):
    s+=i
print(s)

55

In [27]:
#Write a program to print even numbers 0-50 with for loop.

for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [28]:
# Write a program to count the total number of digits in a number 1234567894561237 using for loop.
# WAP to count the total number of the digits in a number 1234567894561237 using for loop

n=1234567894561237
s=0
for i in range(len(str(n))+1):
    continue
print(i)

16

In [31]:
given_num=1234567894561237

given_num=str(given_num)

count=0
for i in given_num:
    count+=1
print(count)

16

In [32]:
# Write a program that accept your name from the user and reverse it using for loop.

In [38]:
# Write a program to check if the given string is a palindrome or not you can take string from the user.

# Some palindrome words are: "madam","civics","anna","malayalam","pip","radar"
#WAP to check if the word is palindrome or not.

name=input('Enter name: ')
name=name.lower()
reverse_str=''
for i in name:
    reverse_str=i+reverse_str
if name==reverse_str:
    print(f'{name} is a palindrome.')
else:
    print(f'{name} is not a palindrome.')

Enter name: Radar
radar is a palindrome.

In [37]:
# Check if palindrome or not in for loop
a=input("Enter something:")
a=a.lower()
revs=''
for i in a:
    revs=i+revs
if revs==a:
    print("It is a palindrome.")
else:
    print("It is not a palindrome.")

Enter something:MAdam
It is a palindrome.

In [39]:
# Write a program to count the number of even or odd number from series [1,2,3,4,5,67,50,100,2002,168,597,256,300] using loop
# WAP to count the number of even or odd number from series [1,2,3,4,5,67,50,100,2002,168,597,256,300], say 1 is an Odd number.
num=[1,2,3,4,5,67,50,100,2002,168,597,256,300]
for i in num:
    if i%2==0:
        print(i,'is an even number')
    else:
        print(i,'is an odd number')

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
67 is an odd number
50 is an even number
100 is an even number
2002 is an even number
168 is an even number
597 is an odd number
256 is an even number
300 is an even number

In [40]:
#WAP to count the number of even or odd number from series.
num3=[1,2,3,4,5,67,50,100,2002,168,597,256,300]
for i in num3:
    if i%2==0:
        print(i,' is even number.')
    else:
        print(i,' is an odd number')

1  is an odd number
2  is even number.
3  is an odd number
4  is even number.
5  is an odd number
67  is an odd number
50  is even number.
100  is even number.
2002  is even number.
168  is even number.
597  is an odd number
256  is even number.
300  is even number.

In [41]:
# Write a program to display all the prime number from 1 to 30.
# WAP to display all the prime numbers from 10-30.

for i in range(10,31,1):
    if i%2==0 or i%3==0 or i%5==0 or i%7==0:
        continue
    else:
        print(i)

11
13
17
19
23
29

In [ ]:
# Write a program to display the factorial of any number with loop?